body{
    scroll-behavior: smooth!important;
}
main{
    background-color: #ecf0f3;
}
.customBg{
    background: -webkit-linear-gradient(left,#e5e8ed,#f9fafc);
    border-radius: 20px;
}
.customBg2{
    background: -webkit-linear-gradient(top,#e5e8ed,#f9fafc);
    border-radius: 20px;
}
.customBg p{
    font-size: 18px;
}
.customBg ul{
    line-height: 40px;
    font-size: 20px;
}
.customBg ul li{
  cursor: pointer;
    transition: all .4s;
}

svg{
    width: 0;
    height: 41px;
    margin-left: 10px;
    margin-top: 4px;
    transition: all .4s;
    color: #fe0352;
}
.customBg ul li:hover{
  color: #fe0352;
}
.customBg ul li:hover svg{
  width: 24px;
}
.customBg ul li:before{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 49%;
    background: #b9b9b9;
    left: 39px;
}
.primarySkills .customBg{
    width: 84px;
    margin-bottom: 20px;
    transition: all .2s;
    cursor: pointer;
}
.primarySkills .customBg:hover{
    transform: translateY(2px);
    box-shadow: 0 0 0 transparent!important;
}
.primarySkills img{
    width: 34px;
}
.SecondarySkills div{
    margin: 6px;
    transition: all .2s;
    cursor: pointer;
}
.SecondarySkills div:hover{
    transform: translateY(2px);
    box-shadow: 0 0 0 transparent!important;
}
.SecondarySkills img{
    width: 22px;
}
#YOUR_MESSAGE{
   min-height: 240px;
    min-width: 99%;
}
input:focus,textarea:focus{
   border: 2px solid #fe0352!important;
}
button,.left .customBg{
   border-radius: 7px!important;
   border: none!important;
    color: #fe0352!important;
    cursor: pointer;
    transition: all .4s;
    font-weight: bold;
}
.left .customBg:hover{
    color: white!important;
    background: #fe0352;
    transform: translateY(-4px);
}
button:hover{
   color: white!important;
    background: #fe0352;
}
button:hover svg{
   color: white;
   margin-left: 24px;
}
.left {
  margin-top: 181px;
}
.left > div{
  position: fixed;
}
.left img{
 width: 170px;
    border-radius: 49%;
    border: 5px solid white;
}
.left p{
   font-size: 42px;
    font-weight: bold;
}
.left p span{
  color: #fe0352;
    font-size: 49px;
}
.left .small{
    font-size: 19px;
    color: gray;
    width: 51%;
}
.top{
    width: 51px;
    height: 51px;
    border-radius: 50%;
    position: fixed;
    right: 29px;
    bottom: 29px;
    color: #fe0352;
    transition: all .4s;
}
.top:hover{
    background: #fe0352;
}
.top:hover svg{
    color: white;
}
.top svg{
    width: 30px;
    margin: 0;
    transition: all .4s;
}

@media screen and (max-width: 1200px){
    .left .small {
        width: 45%;
    }
}
@media screen and (max-width: 992px){
    .left {
        margin-top: 45px;
    }
    .left > div{
        position: relative;
    }
    .left .small {
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .left {
        margin-top: 6px;
    }
    .left img{
       display: block;
        margin: auto;
    }
}